In [14]:
import pandas as pd
import numpy as np
import csv
from neo4j.v1 import GraphDatabase, basic_auth
print("test")

# Read all the classes in owl file
filename1 = 'classattr.csv'
reader = csv.reader(open(filename1, 'r'))

# Save all the class with key-value as id-lable
class_dict = {}

# Retrive all the top class
temp_list = []

for row in reader:
   k, v = row[0],row[1]
   class_dict[k] = v
   # Consider that all the class is inherited from "Any" class
   if row[1]=="Any":
      temp_list = list(filter(None,row))
      print(list(filter(None,row)))

# Print out all the top level class
for elem in temp_list[2:-2]:
   print(class_dict[elem])

filename2 = "propertyattr.csv"
reader = csv.reader(open(filename2, 'r'))
for row in reader:
   if row[0] in class_dict and row[2] in class_dict:
         if row[0] in temp_list[2:] and row[0] != row[2] and row[2] in temp_list[2:]:
            print(class_dict[row[0]].split('.')[0],str(row[1]).split('.')[-1],class_dict[row[2]])

test
['145', 'Any', '120', '55', '77', '358', '41', '143', '46', '356', '298', '120,55,77,358,41,143,46,356']
People
Activity
Entity
Location
Time interval
Way
Service
Context
People has_belongs Entity
Way has_sub_activity Activity
Context has_has_location Location
Context has_in_activity Activity
People has_have_context Context
Activity result Entity
Activity has_apply_to Entity
Activity has_during Time interval
Activity has_enjoy Service
Activity how_to_achieve Way
Activity has_happen_at Location
Activity require Entity

In [16]:
df_class = pd.read_csv(filename1, dtype=str)
df_class.sort_values('cA_id')
df_class.fillna('')
# df_class.drop('cA_superClasses_1', axis=1, inplace=True)
df_class.head()

# df_class.columns = df_class.columns.str.lower().str.replace('/', '_')
# df_class.drop('cA_superClasses_0', axis=1, inplace=True)
# df_class = df_class[~df_class['attributes_1'].str.contains("a",  na=False)]

,cA_id,cA_label_undefined,cA_subClasses_0,cA_subClasses_1,cA_subClasses_10,cA_subClasses_11,cA_subClasses_12,cA_subClasses_2,cA_subClasses_3,cA_subClasses_4,cA_subClasses_5,cA_subClasses_6,cA_subClasses_7,cA_subClasses_8,cA_subClasses_9,cA_superClasses_0,children
0,43,Apply for financial card.how to achieve Role,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44,NaN
1,45,Work,47,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46,"47,48"
2,49,apply by webpage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50,NaN
3,70,Rent,2,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55,"2,22"
4,93,Insurance,94,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77,"94,95"

In [17]:
filename_cA = "classAttribute.csv"
reader = csv.reader(open(filename_cA, 'r'))

df_class = pd.read_csv(filename1, dtype=str)
df_class.sort_values('cA_id')
df_class.fillna('')
df_class.head()

,cA_id,cA_label_undefined,cA_subClasses_0,cA_subClasses_1,cA_subClasses_10,cA_subClasses_11,cA_subClasses_12,cA_subClasses_2,cA_subClasses_3,cA_subClasses_4,cA_subClasses_5,cA_subClasses_6,cA_subClasses_7,cA_subClasses_8,cA_subClasses_9,cA_superClasses_0,children
0,43,Apply for financial card.how to achieve Role,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44,NaN
1,45,Work,47,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46,"47,48"
2,49,apply by webpage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50,NaN
3,70,Rent,2,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55,"2,22"
4,93,Insurance,94,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77,"94,95"

In [18]:
# for index, row in df_proattr.iterrows():
#     if row['label_undefined'] == '':
#         row['label_undefined'] = 'has_subclass'
# df_proattr.head()
# df_proattr.to_csv('relationship.csv', sep=',')
# df_class['children'] = df_class[df_class.columns[2:len(df_class.columns)-2]].apply(lambda x: ','.join(x.dropna().astype(str)), axis = 1)
# df_class.head()

In [19]:
from neo4j.v1 import GraphDatabase, basic_auth

filename_pro = "propertyAttribute.csv"
df_pro = pd.read_csv(filename_pro, dtype=str)
df_pro.head()

,pA_attributes_0,pA_attributes_1,pA_baseIri,pA_cardinality,pA_domain,pA_id,pA_iri,pA_label_IRI-based,pA_label_undefined,pA_minCardinality,...,pA_subproperty_34,pA_subproperty_35,pA_subproperty_36,pA_subproperty_4,pA_subproperty_5,pA_subproperty_6,pA_subproperty_7,pA_subproperty_8,pA_subproperty_9,pA_superproperty_0
0,someValues,object,http://www.hozo.jp/owl/startuplife.owl,NaN,1,0,http://www.hozo.jp/owl/startuplife.owl#dependsOn,dependsOn,dependsOn,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,object,anonymous,NaN,NaN,4,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,someValues,object,http://www.hozo.jp/owl/startuplife.owl,NaN,7,6,http://www.hozo.jp/owl/startuplife.owl#heldBy,heldBy,heldBy,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,object,anonymous,NaN,NaN,10,9,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,allValues,object,http://www.hozo.jp/owl/startuplife.owl,NaN,7,11,http://www.hozo.jp/owl/startuplife.owl#has_sub...,has_sub_activity,has_sub_activity,NaN,...,NaN,NaN,NaN,18,19,NaN,NaN,NaN,NaN,13

In [20]:
driver = GraphDatabase.driver('bolt://localhost:7687', auth=basic_auth('neo4j', 'iwate'))
session = driver.session()


# Store all the class and attribute as Node
filename_pro = "propertyattr.csv"
df_pro = pd.read_csv(filename_pro, dtype=str)
df_pro.head()

def reset_db():
    '''Remove all nodes and relationships from the database'''
    session = driver.session()
    session.run('MATCH (n) DETACH DELETE n')
    print("Delete all the node")
    
    
def find_activity(activity_name):
    '''Find the room a person is currently in'''
    query = '''
        MATCH (s:Activity) where s.id = $name
        RETURN s.name 
    '''
    for recode in session.run(query, name=activity_name):
        print(recode["s.name"])
    
    
def find_how_to_do(activity_name):
    '''Find related entity and relationships'''
    query = '''
        MATCH (s:Activity{name:$name})<-[r:REL]-(entity:Node)
        RETURN s.name,r.name,entity.name 
    '''
    for recode in session.run(query, name=activity_name):
        print(recode["s.name"]+"    "+recode["r.name"]+"    "+recode["entity.name"])
#     return session.run(query, name=activity_name) 


def create_rel(query, df_class, n=0):
    session = driver.session()
    print("Sucess")
    len(df_class.index)
    n = len(df_class) if n <= 0 else n
    for index, row in df_class.iterrows():
        session.run(query, range=row[0], rel=row[1],domain=row[2])
       

def create_try(query, df_class, n=0):
    session = driver.session()
    print("Sucess")
    len(df_class.index)
    n = len(df_class) if n <= 0 else n
    for index, row in df_class.iterrows():
        session.run(query, id=row[0], name=row[1],parent=row[len(row)-2],children=row['children'])
#       session.run(query, id=row['id'], name=row['label_undefined'], parent=row['superclasses_0'],children=row['children'])


def add_label():
    session = driver.session()
    print("Success")
    for elem in temp_list[2:]:
        query = '''MATCH (a)-[:IS_A*]->(z:Node{name:"'''+class_dict[elem]+'''"}) set a:'''+class_dict[elem]
        print("Success")
        print(query)
        session.run(query)
        




        
# Reset database
# reset_db()

In [21]:
v1_query = '''
    merge (s:'''+"Node"+'''{name: $name, id: $id}) 
'''

create_try(v1_query, df_class)

v2_query = '''
    match (child:Node{id:$id})
    match (parent:Node{id:$parent})
    merge (parent)<-[r:IS_A]-(child)
    WITH  SPLIT($children, ",") AS subclasses
    UNWIND subclasses AS subclass

    Match (sub:Node {name:subclass})
    MERGE (sub)-[:IS_A]->(child)
   
'''
create_try(v2_query, df_class)




add_rel = '''
    
    match (range:Node{id:$range})
    match (domain:Node{id:$domain})
    merge (range)<-[r:REL {name:$rel}]-(domain)
    
'''
create_rel(add_rel, df_pro)


add_label()
#record = find_activity('286')

Sucess
Sucess

CypherTypeError: Expected a string value for <function1>, but got: NaN; consider converting it to a string with toString().

In [40]:
driver = GraphDatabase.driver('bolt://localhost:7687', auth=basic_auth('neo4j', 'iwate'))
session = driver.session()            
find_how_to_do("Rent_a_house")

Rent_a_house    has_Rent_a_house.rent_a_house_by_house_agency    Rent_a_house.rent_a_house_by_house_agency
Rent_a_house    has_Rent_a_house.live_at_college_dorm    Rent_a_house.live_at_college_dorm
Rent_a_house    has_Rent_a_house.how_to_achieve_Way    Rent_a_house.how_to_achieve_Way
Rent_a_house    has_Rent_a_house.how_to_achieve    Rent_a_house.how_to_achieve

In [43]:
filename1 = 'classAttribute.csv'
reader = csv.reader(open(filename1, 'r'))
label_set = set([])

# Save all the class with key-value as id-lable
class_dict = {}

# Retrive all the top class
temp_list = []

for row in reader:
   k, v = row[0],row[1]
   class_dict[k] = v
   # Consider that all the class is inherited from "Any" class
   if row[1]=="Any":
      temp_list = list(filter(None,row))
      print(list(filter(None,row)))

# Print out all the top level class
for elem in temp_list[2:]:
   print(class_dict[elem])


def enclude_label():
    session = driver.session()
    print("Success")
    query = '''MATCH (n) RETURN distinct labels(n)'''
    print("Success")
    
#     print(query)
    for record in session.run(query):
        
        print(record["labels(n)"])
        try:
            label_set.add(record["labels(n)"][1])
        except IndexError:
            print("Skip this")
       

    
    
enclude_label()  
for elem in temp_list[2:]:
    if elem not in label_set:
        query = '''MATCH (z:Node{name:"'''+class_dict[elem]+'''"}) set z:'''+class_dict[elem]
        print(query)
        session.run(query)

None

In [15]:
filename_pro = "propertyAttribute.csv"
df_pro = pd.read_csv(filename_pro, dtype=str)

In [16]:
def create_rel(query, df_class, n=0):
    session = driver.session()
    print("Sucess")
    len(df_class.index)
    n = len(df_class) if n <= 0 else n
    for index, row in df_class.iterrows():
        session.run(query, range=row[0], rel=row[1],domain=row[2])
        
add_rel = '''
    
    match (range:Node{id:$range})
    match (domain:Entity{id:$domain})
    merge (range)<-[r:REL {name:$rel}]-(domain)
    
'''

create_rel(add_rel, df_pro)

Sucess

In [164]:
def create(query, n=0):
    '''Given a query, create a graph based on each triple in the extracted statements'''
    session = driver.session()
    stat = statements(data_qa1)
    n = len(stat) if n <= 0 else n
    for subject,relation,obj in stat[:n].extracted:
        session.run(query, subject=subject, relation=relation, obj=obj)

In [168]:
def create_try(query, df_class, n=0):
    session = driver.session()
    print("Sucess")
    len(df_class.index)
    n = len(df_class) if n <= 0 else n
    for index, row in df_class.iterrows():
        session.run(query, id=row[0], name=row[1],parent=row[len(row)-2],children=row['children'])
#         session.run(query, id=row['id'], name=row['label_undefined'], parent=row['superclasses_0'],children=row['children'])

In [169]:
# session.run(query, id=row['id'], name=row['label_undefined'], parent=row['superclasses_0'],children=row['children'])

In [171]:

v2_query = '''
    match (child:Entity{id:$id})
    match (parent:Entity{id:$parent})
    merge (parent)<-[r:IS_A]-(child)
    WITH  SPLIT($children, ",") AS subclasses
    UNWIND subclasses AS subclass

    Match (sub:Entity {name:subclass})
    MERGE (sub)-[:IS_A]->(child)
   
'''
create_try(v2_query, df_class)

Sucess

In [34]:
def add_label():
    session = driver.session()
    print("Success")
    for elem in temp_list[2:]:
        query = '''MATCH (a)-[:IS_A*]->(z:Node{name:"'''+class_dict[elem]+'''"}) set a:'''+class_dict[elem]
        print("Success")
        print(query)
        session.run(query)
        
add_label()

Success
Success
MATCH (a)-[:IS_A*]->(z:Node{name:"People"}) set a:People
Success
MATCH (a)-[:IS_A*]->(z:Node{name:"Activity"}) set a:Activity
Success
MATCH (a)-[:IS_A*]->(z:Node{name:"Entity"}) set a:Entity
Success
MATCH (a)-[:IS_A*]->(z:Node{name:"Location"}) set a:Location
Success
MATCH (a)-[:IS_A*]->(z:Node{name:"Time_interval"}) set a:Time_interval
Success
MATCH (a)-[:IS_A*]->(z:Node{name:"Way"}) set a:Way
Success
MATCH (a)-[:IS_A*]->(z:Node{name:"Service"}) set a:Service
Success
MATCH (a)-[:IS_A*]->(z:Node{name:"Context"}) set a:Context
Success
MATCH (a)-[:IS_A*]->(z:Node{name:"ESSENTIAL-CONCEPT"}) set a:ESSENTIAL-CONCEPT